!= @layout 'layouts/default.haml', =>

  #index-page

    .banner.clearfix
      .info
        .logo.pull-left
          %a{href: "/"}
            %img{src: "/joosy.png"}<>
        .text.pull-left
          %h1 Browser Applications Framework
          %p That is based on Rails, CoffeeScript and love
          %small
            %strong
              Stable:
            %a{href: 'https://github.com/joosy/joosy/releases'}<
              Joosy #{@config.versions.stable[0].number}
            %span.from
              from
              = @config.moment(@config.versions.stable[0].built_at).format("D MMM YYYY")
            &nbsp;&nbsp;|&nbsp;&nbsp;
            %strong
              Edge:
            %a{href: 'https://github.com/joosy/joosy/releases'}<
              Joosy #{@config.versions.edge[0].number}
            %span.from
              from
              = @config.moment(@config.versions.edge[0].built_at).format("D MMM YYYY")

    .main

      .features.clearfix
        .pictures.clearfix
          %img{src: "/highlights/atomic.png", class: 'atomic'}
          %img{src: "/highlights/haml.png", class: 'haml'}
          %img{src: "/highlights/rails.png", class: 'rails'}
          %img{src: "/highlights/circle.png", class: 'circle'}
        .descriptions.clearfix
          %div.decisions
            %p.header
              The right decisions made for you.
            %p.body
              Joosy claims to be conventions-centric. Concentrate on what you should do and not on how to achieve it. Incredible productivity out of box.
          %div.rendering
            %p.header
              The dynamic rendering done right.
            %p.body
              Bind your data to DOM without being limited to a specific template engine. Use HAML. Use helpers. And give it a sauce of identity map for a real joy.
          %div.rails
            %p.header
              Rails way to the browser.
            %p.body
              Joosy inherits Rails' passion for conventions and happiness. It also inherits the typical solutions to the typical tasks. You are guaranteed to feel familiar and smile.
          %div.ecma
            %p.header
              Don't wait for ECMA.
            %p.body
              Joosy interface was designed to get best out of CoffeeScript. Filled with Sugar.JS it turns Javascript into something you will want to use every day. Even at the weekend.

      .code.clearfix
        %center
          %h1 Look, it's beautiful and easy to use:
        
        .col-md-5.col-md-offset-1
          %script{src: "https://gist.github.com/inossidabile/2843507.js"}
        .col-md-5
          %script{src: "https://gist.github.com/inossidabile/2843512.js"}

    .buttons.clearfix
      .all
        .button.get_started
          .left
          .middle
            %a{href: "http://guides.joosy.ws/guides/basics/getting-started.html"}
              %img{src: "/buttons/get_started.png"}
          .right
        .button.investigate
          .left
          .middle
            %a{href: "http://api.joosy.ws"}
              %img{src: "/buttons/investigate.png"}
          .right
        .button.fork_us
          .left
          .middle
            %a{:href => "http://github.com/joosy/joosy"}
              %img{src: "/buttons/fork.png"}
          .right

    .usage.clearfix
      .all
        .element{style: "padding-left: 0px; padding-right: 14px"}
          %p Who's using Joosy:
        .element
          %a{href: "http://news360.com"}
            %img.desaturate.news360{src: "/consumers/news360.png"}
        .element
          %img{src: "/separator.png"}
        .element
          %a{href: "http://hipflat.co.th/en"}
            %img.desaturate.hipflat{src: "/consumers/hipflat.png"}
        .element
          %img{src: "/separator.png"}
        .element
          %a{href: "http://roundlake.ru"}
            %img.desaturate.roundlake{src: "/consumers/roundlake.png"}
        .element
          %img{src: "/separator.png"}
        .element
          %a{href: "http://mainpeople.com"}
            %img.desaturate.mp{src: "/consumers/MP.png"}
        .element
          %img{src: "/separator.png"}
        .element
          %a{href: "http://dvnts.ru"}
            %img.desaturate.dvnts{src: "/consumers/deviants.png"}
        .element
          %img{src: "/separator.png"}
        .element{style: "padding-right: 0px"}
          %a{href: "http://control.us"}
            %img.desaturate.controlus{src: "/consumers/controlus.png"}