!!!
%html
  %head
    %meta{:content => "IE=8", "http-equiv" => "X-UA-Compatible"}
    %meta{:charset => "utf-8"}
    %title Joosy: browser applications framework
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "https://gist.github.com/stylesheets/gist/embed.css"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    .topbar
      .topbar_wrap
        %table{:cellpadding =>"0", :cellspacing => "0"}
          %tbody
            %tr
              - {0 => {:name => "Joosy (1.0RC2)", :url =>"http://joosy.ws", :class => "active"}, 1 => {:name => "Who's using", :url =>"#", :class => "disabled"}, 2 => {:name => "Annotated sample", :url =>"http://sample.joosy.ws/routes.js.coffee.html", :class => ""}, 3 => {:name => "Guides", :url =>"http://guides.joosy.ws", :class => ""}, 4 => {:name => "Screencasts", :url =>"#", :class => "disabled"}, 5 => {:name => "API", :url =>"http://api.joosy.ws", :class => ""}, 6 => {:name => "Code", :url =>"http://github.com/roundlake/joosy", :class => ""}, 7 => {:name => "Bugs/Patches", :url =>"http://github.com/roundlake/joosy/issues#", :class => ""}, 8 => {:name => "Community", :url =>"#", :class => "disabled"}}.each do |key, value|
                %td{:class => value[:class]}
                  %a{:href => value[:url]}
                    = value[:name]
              %td{:class => "twitter"}
                %a{:href => "http://twitter.com/joosy_web"}
                  Twitter
                %img{:src => "assets/twit_sign_orange.png"}
    = yield
    :javascript
      var _gauges = _gauges || [];
      (function() {
        var t   = document.createElement('script');
        t.type  = 'text/javascript';
        t.async = true;
        t.id    = 'gauges-tracker';
        t.setAttribute('data-site-id', '4fccaa07613f5d4efe000007');
        t.src = '//secure.gaug.es/track.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(t, s);
      })();
